<html>
  <head>
 routerLinkActive="active" [routerLink]="'loans'"
  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a routerLinkActive="active" [routerLink]="'dashboard'">
                      
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a routerLinkActive="active" [routerLink]="'customers'">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                          customers
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a routerLinkActive="active" [routerLink]="'payments'">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                          payments
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a routerLinkActive="active" [routerLink]="'invoices'">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                          invoices
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="'loans'">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                          loans
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="'settings'">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                          settings
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>